<p class="title">02 MEET YOUR CREW</p>
<div class="container">
    <p class="job-desc">{{role}}</p>
    <p class="crew-member">{{crewMemberFull}}</p>
    <p class="crew-member-resume"> {{memberResume}} </p>
         <mat-tab-group (selectedTabChange)="onTabChange($event)" style=" font-style: barlow; position: absolute;top: 310px; left:px;flex-direction: coulmn;" >
            <mat-tab label="DOUGLAS H.">  </mat-tab>
            <mat-tab label="ANOUSHEH A.">  </mat-tab>
            <mat-tab label="VICTOR G.">  </mat-tab>
            <mat-tab label="MARK S.">  </mat-tab>
          </mat-tab-group>
</div>

<div class="crew-picture">

    <img [src]='crewMemberImg' alt="">
</div>