.container {
    position:absolute;
    top:310px;
    left: 400px;
    

}
.title{
    position: absolute;
    top: 250px;
    left: 400px;

    color: whitesmoke;
    font-family: barlow;
    font-size: 28px;
}

.job-desc{width: 450px;
    height: 200px;

    position: absolute;
    top: 50px;
    font-family: Bellefair;
    font-weight: lighter;
    font-size: 32px;
    color: rgb(162, 162, 162);
}.crew-member{
    width: 450px;
    height: 200px;
    position:absolute;
    top: 100px;
    color: rgb(162, 162, 162);
    font-family: Bellefair;
    font-size: 42px;
    color: whitesmoke;
}
.crew-member-resume{
    width: 450px;
    height: 200px;
    position:absolute;
    top: 150px;
    color: rgb(162, 162, 162);
    font-family: Bellefair;
    font-size: 20px;
}
.crew-picture{
    position: absolute;
    top: 303.7px;
    left: 900px;
}
       
       
::ng-deep.mat-tab-label .mat-tab-label-content {
    height: 34px;
    font-size: 15px;
    width: 100px;
    position: relative;
    left: 0px;
    color: 	whitesmoke!important;
    min-width: 0!important;
 padding: 3px!important;
 margin: 3px!important;
}
::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    min-width: 0!important;
    padding: 3px!important;
    margin: 3px!important;
    color: 	rgb(255,215,0)!important;
   }
   ::ng-deep.mat-tab-group {
    flex-direction: row;
    position: absolute;
    top: 20px;
}