/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; 
    background-image: url("../src/assets/home/background-home-desktop.jpg"); background-size: cover;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
    font-family: barlow;
    src: url(assets/BarlowCondensed-ExtraLight.ttf) format('truetype');
}
@font-face {
    font-family: Bellefair;
    src: url(assets/Bellefair-Regular.ttf) format('truetype');
}
@font-face {
    font-family: barlow-bold;
    src: url(assets/BarlowCondensed-Bold.ttf) format('truetype');
}
